<!doctype html>
<html lang="en">
<head>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mailviews/css/bootstrap.css' %}" />

    <style type="text/css">

        body {
            padding-top: 60px;
        }

        iframe {
            height: 700px;
            width: 100%;
        }

        textarea {
            min-height: 250px;
            width: 100%;
        }

    </style>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Preview</a>
        </div>
      </div>
    </div>

    <div class="container">

        <header>

            <h1>{{ subject }}</h1>

            <div id="headers">

                <h2>Headers</h2>

                <table class="table table-striped table-condensed">
                    {% for name, value in headers %}
                        <tr>
                            <th>{{ name }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>

        </header>

        {% if html %}

            <section id="body-html">

                <h2>HTML Preview</h2>

                <iframe src="data:text/html;base64,{{ escaped_html }}"></iframe>

            </section>

            <section id="html-raw">

                <h2>Raw HTML</h2>

                <textarea>{{ html|escape }}</textarea>

            </section>

        {% endif %}

        <section id="body-plain">

            <h2>Text Body</h2>

            {{ body|linebreaks }}

        </section>

        <section id="raw">

            <h2>Raw Message</h2>

            <pre>{{ raw }}</pre>

        </section>

    </div>

</body>
</html>
