{% extends "mailviews/base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Messages</h1>
    </div>

    {% for module, previews in registry.items %}

        <h2>{{ module }}</h2>

        <table class="table table-striped">
            {% for preview in previews.values %}
                <tr>
                    <th><a href="{{ preview.url }}">{{ preview }}</a></th>
                    <td>{{ preview.description }}</td>
                </tr>
            {% endfor %}
        </table>

    {% endfor %}

{% endblock %}
